<div class="container index-container">
  <div class="row card-row">
  <% @places.each do |place| %>
    <div class="card card-index-page">
      <div class="card-img-top card-img-show">
        <% if place.photos.present? %>
          <div>
            <%= link_to image_tag(place.photos.first.picture.to_s, class: 'index-image-size'), place_path(place) %>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <h2 class="card-title text-center"><%= link_to place.name, place_path(place), class: "index-card-title" %></h2><hr>
        <i><%= place.address %></i><br><br>
        <p class="card-text"><%= place.description %> </p>
        <% if place.user.present? %>
          <small>Posted by: <%= place.user.username %></small>
        <% end %>
        <% if place.comments.present? %>
          <div class="card-text">
            <blockquote>
              <% if place.comments.last.humanized_rating.present? %>
                <b><%= place.comments.last.humanized_rating %></b> -
              <% end %>
              <%= place.comments.last.message %><br>
              <small>Posted by: <%= place.comments.last.user.username %></small>
            </blockquote>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
  </div>

  <div class="d-flex justify-content-center">
    <%= will_paginate @places, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>

