<div class="container show-container">
  <div class="card show-card-page">
    <% @place.photos.each do |photo| %>
      <div class="card-img-top">
        <%= image_tag photo.picture.to_s, class: 'show-image-size' %>
      </div>
      <% if photo.caption.present? %>
        <p class="text-center"><%= photo.caption %></p>
      <% end %>
    <% end %>
    <div class="card-body">
      <div class="row show-title-div">
        <h1 class="card-title col-lg-10"><%= @place.name %></h1>
        <div class="col-lg-2">
          <button type="button" class="btn btn-block btn-dark buttons add-photo-button" data-toggle="modal" data-target="#photo-modal">Add a photo <i class="fa fa-camera-retro"></i></button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-6">
          <small>Posted by: <%= @place.user.username %></small>
          <i class="fa fa-map-marker"></i>
          <i class="card-text"><b>Location: </b><%= @place.address %></i>
          <br/><br/>
          <p class="card-text"><b> Description: </b><%= @place.description %></p>
          <h4>Comments</h4>
          <% @place.comments.each do |comment| %>
            <div>
              <blockquote>
                <% if comment.humanized_rating.present? %>
                  <b><%= comment.rating %></b> -
                <% end %>
                <%= comment.message %>
                <small><%= comment.user.username %></small>
              </blockquote>
            </div>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render 'places/maps' %>
        </div>
      </div>
      <hr>
      <div  class="float-right show-edit-destroy-btns">
        <% if current_user && current_user == @place.user %>
          <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-dark buttons' %>
          <%= link_to 'Destroy', place_path(@place),
          method: :delete,
          data: {confirm: 'Are you sure you want to delete this?'},
          class: 'btn btn-danger buttons' %>
        <% end %>
      </div>
    </div>

    <!-- Photo Modal -->
    <div class="modal fade" id="photo-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add an image</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
            <div class="modal-body">
              <%= f.input :caption, label: "Add an image caption..." %>
              <%= f.input :picture, label: "Choose an image...", class: "picture-upload-button" %>
            </div>
            <div class="modal-footer">
              <%= f.submit "Submit", class: 'btn btn-lg btn-block btn-info modal-submit' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
      <%= f.input :message %>
      <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
      <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>